body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 15px 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    
    
}

    .header a {
        color: white;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu-icon {
    display: none;
    color: white;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover {
                background: #4a4a4a;
            }

.main {
    padding-top: 12rem;
}

.footer {
    background: #333;
    padding: 1rem 0;
    text-align: center;
    margin-top: 6rem;
}

.piedepagina {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    color: white;
}


.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.contenedor figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,102,100,0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.nuevo {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.article1{
    font-size: 25px;
    line-height: 1.3em;
    margin-bottom: 1.6em;
    color: white;
    text-align: center;
    margin: 20px;
}

.bg {
    background: #333;
    padding: 15px;
}

@media (max-width: 474px){

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

        .navigation {
            width: 100%;
        }

            .navigation ul {
                display: none;
            }

            .navigation ul.show {
                display: block;
            }
            .navigation ul li {
                display: block;
                margin-top: 1rem;
            }
        
                .navigation ul li a {
                    display: block;
                    padding: 0.5rem 0rem;
                    transition: all 0.4s linear;
                    border-radius: 5px;
                }
                    .navigation ul li a:hover {
                        background: #4a4a4a;
                    }
                
}